.screen {
  min-height: 100vh;
}

.prevent-select {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.bench {
  flex-wrap: wrap;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 750px;
}

.canvas-container img,
.canvas-container canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.canvas-container canvas {
  background-color: transparent;
  z-index: 5;
  cursor: url("./assets/marker.png") 0 32, auto;
}
