/* Base font size (16px) on the <html> element */
html {
  font-size: 16px;
}

/* Default styles for .container */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  z-index: 10;
}

.shirtContainer {
  width: 100%;
  height: 73.68572%;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  z-index: 10;
}

.nameContainer {
  width: 100%;
  height: 26.31427%;
  flex: 1;
  display: flex;

  align-items: self-start;
  justify-content: center;
  position: relative;
  text-align: center;
  z-index: 10;
}

/* Default styles for .kitImage */
.kitImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Default styles for .playerNameContainer */
.playerNameContainer {
  width: 100%;
  text-align: center;
}

/* Default styles for .playerNameText */
.playerNameText {
  background-color: #333333e1;
  color: #ddd;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem; /* 20px in rem */
  white-space: nowrap;
  border: 1px yellow solid;
}

/* Default styles for .playerNumberContainer */
.playerNumberContainer {
  position: absolute;
  text-align: center;
  height: 100%;
  top: 0;
  width: 100%;
}

/* Default styles for .playerNumberText */
.playerNumberText {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0rem;
  top: 0.55rem; /* 5px in rem */
  font-size: 2.06rem;
  width: 100%;
  font-weight: bold;
  color: #ddd;
}

/* Default styles for .captainBadge */
.captainBadge {
  position: absolute;
  top: 0px;
  right: 0; /* 5px in rem */
  transform: translate(0, -50%);
  text-align: center;
}

.playerNumberTextLightKit {
  color: #141217 !important;
}
